<p class="date">{{ date() | date : "d MMMM yyyy | HH:mm" }}</p>
<hr />
<div class="bank-transfer-details">
  @let details = getAccountDetails(); 
  
  @if(details.from.account && details.from.accountName){
    <div class="label">
        <p>From</p>
    </div>
    <div class="account">
        <p>{{ details.from.account }}</p>
        <p>{{ details.from.accountName }}</p>
    </div>
  } 
  
  @if(details.to.account && details.to.accountName){
    <div class="label">
        <p>To</p>
    </div>
    <div class="account">
        <p>{{ details.to.account }}</p>
        <p>{{ details.to.accountName }}</p>
    </div>
  }
</div>