.bank-transfer-details {
    display: grid;
    grid-template-columns: auto 1fr;
    grid-auto-rows: auto;
    gap: 1.5rem 2rem;

    .label {
        text-align: left;
        font-weight: bold;
    }

    .account {
        display: flex;
        flex-direction: column;
        p {
            margin-bottom: 0px;
        }
    }
}